body {
    font-family: Arial, sans-serif;
    background-color: #a3cde3;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 400px;
    margin: 50px auto 0 auto; /* 50px top margin, center horizontally */
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}


h1 {
    margin-top: 0; /* Reset default margin */
}

#result {
    margin-top: 20px; /* Space between main box and result box */
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.container form {
    margin-bottom: 20px;
}

input[type="number"], select {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    width: calc(100% - 20px);
    padding: 10px;
    background-color: #92278f;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #541753;
}

#result {
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
